extends ../../layouts/default.pug 
include ../../mixins/breadcrumb.pug

block main
    +breadcrumb(
        'fa-solid fa-plus',
        pageTitle,
        [
            {label: 'Sản phẩm', href: `/${prefixAdmin}/products`, icon: 'fa-solid fa-box-open'},
            {label: 'Thêm mới sản phẩm', href: `/${prefixAdmin}/products/create`}
        ]
    )

    div(class="product-list__create rounded-[5px] bg-white p-[20px] mt-[40px] mx-[15px]" style="box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);")
      div(class="")
        h2(class="text-[#333] text-[15px] font-[700] relative before:content-[''] before:absolute before:w-[60px] before:h-[1px] before:left-0 before:bg-[#d2d2d2] before:bottom-[-20px]") Thêm mới 
      div(class="mt-[50px]")
        form(
          action=`/${prefixAdmin}/products/create`
          method="POST"
          enctype="multipart/form-data"
        ) 
          div(class="flex items-center flex-wrap mb-[19px]")
            label(for="title" class="py-[6px] pr-[15px] text-[16px] sm:w-[17%] w-full font-[500]") Tiêu đề
            div(class="flex-1")
              input(type="text" name="title" id="title" class="w-full outline-none text-[#495057] py-[6px] px-[12px] border border-[#ccc] rounded-[3px] transition-all duration-150 ease-in-out focus:shadow-[0_0_0_0.2rem_rgba(0,123,255,0.25)] focus:border-[#4099ff]") 
          div(class="flex items-center flex-wrap mb-[19px]")
            label(for="" class="py-[6px] pr-[15px] text-[16px] sm:w-[17%] w-full font-[500]") Danh mục
            div(class="flex-1")
              select(name="category_id" class="bg-white border-[1px] border-[#4099ff] border-t-0 border-l-0 border-r-0 px-[12px] py-[10px] mx-[5px] w-full outline-none")
                each item in productCategories
                  option(value=item.id) #{item.title}
          div(class="flex items-center mb-[19px]")
            div(class="sm:w-[17%] w-0")
            div(class="flex")
              div(class="mr-[20px]")
                input(type="radio" name="featured" id="featured0" class="mr-[5px]" value="1") 
                label(for="featured0" class="font-[500]") Nổi bật
              div(class="")
                input(type="radio" name="featured" id="featured1" class="mr-[5px]" value="0" checked) 
                label(for="featured1" class="font-[500]") Không nổi bật
          div(class="flex items-center flex-wrap mb-[19px]")
            label(for="desc" class="py-[6px] pr-[15px] text-[16px] sm:w-[17%] w-full font-[500]") Mô tả
            div(class="flex-1")
              textarea(name="description" id="desc" textarea-mce) 
          div(class="flex items-center flex-wrap mb-[19px]")
            label(for="price" class="py-[6px] pr-[15px] text-[16px] sm:w-[17%] w-full font-[500]") Giá
            div(class="flex-1")
              input(type="number" name="price" id="price" placeholder="0" class="w-full outline-none text-[#495057] py-[6px] px-[12px] border border-[#ccc] rounded-[3px] transition-all duration-150 ease-in-out focus:shadow-[0_0_0_0.2rem_rgba(0,123,255,0.25)] focus:border-[#4099ff]")
          div(class="flex items-center flex-wrap mb-[19px]")
            label(for="discount" class="py-[6px] pr-[15px] text-[16px] sm:w-[17%] w-full font-[500]") % giảm giá
            div(class="flex flex-1")
              input(type="number" name="discountPercentage" id="discount" placeholder="0" class="w-full outline-none text-[#495057] py-[6px] px-[12px] border border-[#ccc] rounded-tl-[3px] rounded-bl-[3px] transition-all duration-150 ease-in-out focus:shadow-[0_0_0_0.2rem_rgba(0,123,255,0.25)] focus:border-[#4099ff]")
              span(class="py-[6px] px-[12px] bg-[#4099ff] rounded-tr-[3px] rounded-br-[3px] text-[#fff] font-[600]") %
          div(class="flex items-center flex-wrap mb-[19px]")
            label(for="quantity" class="py-[6px] pr-[15px] text-[16px] sm:w-[17%] w-full font-[500]") Số lượng
            div(class="flex-1")
              input(type="number" name="quantity" id="quantity" placeholder="0" class="w-full outline-none text-[#495057] py-[6px] px-[12px] border border-[#ccc] rounded-[3px] transition-all duration-150 ease-in-out focus:shadow-[0_0_0_0.2rem_rgba(0,123,255,0.25)] focus:border-[#4099ff]")
          div(class="flex items-center flex-wrap mb-[19px]" upload-image)
            label(for="" class="py-[6px] pr-[15px] text-[16px] sm:w-[17%] w-full font-[500]" id="drop-zone") Ảnh sản phẩm
            div(class="min-w-[200px]")
              input(type="file" class="filepond" name="thumbnail" multiple)
          div(class="flex items-center flex-wrap mb-[19px]")
            label(for="position" class="py-[6px] pr-[15px] text-[16px] sm:w-[17%] w-full font-[500]") Vị trí
            div(class="flex-1")
              input(type="number" name="position" min="1" id="position" placeholder="Tự động tăng" class="w-full outline-none text-[#495057] py-[6px] px-[12px] border border-[#ccc] rounded-[3px] transition-all duration-150 ease-in-out focus:shadow-[0_0_0_0.2rem_rgba(0,123,255,0.25)] focus:border-[#4099ff]")
          div(class="flex items-center mb-[19px]")
            div(class="sm:w-[17%] w-0")
            div(class="flex")
              div(class="mr-[20px]")
                input(type="radio" name="status" id="active" class="mr-[5px]" value="active" checked) 
                label(for="active" class="font-[500]") Hoạt động
              div(class="")
                input(type="radio" name="status" id="inactive" class="mr-[5px]" value="inactive") 
                label(for="inactive" class="font-[500]") Không hoạt động
          div(class="flex sm:justify-start justify-center")
            div(class="sm:w-[17%] w-0")
            button(type="submit" class="text-white px-[12px] py-[10px] bg-[#4099ff] rounded-[5px] font-[600] transition-all duration-300 ease-in-out hover:bg-[#73B4FF]") Tạo mới


            