extends ../../layouts/default.pug 
include ../../mixins/breadcrumb.pug

block main
    +breadcrumb(
        'fa-solid fa-info',
        pageTitle,
        [
            {label: "Tài khoản", href: `/${prefixAdmin}/accounts`, icon: 'fa-solid fa-user'},
            {label: pageTitle, href: `/${prefixAdmin}/accounts/detail`}
        ]
    )

    div(class="product-list rounded-[5px] bg-white p-[20px] mt-[40px] mx-[15px]" style="box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1), 0 11px 6px -7px rgba(43, 43, 43, 0.1);")
      div(class="")
        h2(class="text-[#333] text-[15px] font-[700] relative before:content-[''] before:absolute before:w-[60px] before:h-[1px] before:left-0 before:bg-[#d2d2d2] before:bottom-[-20px]") Thông tin tài khoản
      div(class="mt-[50px]")
        div(class="text-[18px]")
          span(class="") Họ và tên:
          span(class="ml-[10px] font-[600]") #{account.fullName}
        div(class="text-[18px] mt-[20px]")
          span(class="") email:
          span(class="ml-[10px] font-[600]") #{account.email}
        div(class="text-[18px] mt-[20px]")
          span(class="") Số điện thoại:
          span(class="ml-[10px] font-[600]") #{account.phone} 
        div(class="text-[18px] mt-[20px]")
          span(class="") Vai trò:
          span(class="ml-[10px] font-[600]") #{role.title}
        div(class="text-[18px] mt-[20px]")
          span(class="") Trạng thái:
          span(class="ml-[10px] font-[600] bg-opacity-20 px-[12px] pt-[3px] pb-[6px] rounded-[3px] mr-[5px] text-[14px] " + (account.status == "active" ? "text-[#2ED8B6] bg-[#2ED8B6]" : "text-[#FF5370] bg-[#FF5370]")) #{account.status == "active" ? "Hoạt động" : "Dừng hoạt động"}
        div(class="text-[18px] mt-[20px] w-[150px] aspect-square flex items-start")
          img(src=account.avatar alt=account.fullName class="w-full h-full") 
      
