div(class="sider fixed z-[998] left-0 h-[calc(100vh-68px)] bg-[#263544] top-[68px] w-[250px] py-[20px] lg:translate-x-0 translate-x-[-100%] transition-all duration-500 ease-in-out")
  div(class="")
    ul(class="")
      if(role.permissions.includes("dashboard_view"))
        li(class="mt-[5px] menu-item")
          a(href=`/${prefixAdmin}/dashboards` class="menu-item block py-[7px] pr-[10px] pl-[20px] font-[600] text-[#b7c0cd] hover:text-white transition-all duration-300 ease-in-out" data-path=`/${prefixAdmin}/dashboards`) 
            i(class="fa-solid lar fa-house mr-[5px]")
            |Tổng quan
      if(role.permissions.includes("products_view") && role.permissions.includes("products-category_view"))
        li(class="mt-[5px]")
          span(class="menu-item block font-[600] py-[7px] pr-[10px] pl-[20px] hover:text-white text-[#b7c0cd] cursor-pointer relative")  
            i(class="fa-solid fa-box-open mr-[5px]")
            |Quản lý sản phẩm 
            i(class="fa-solid fa-angle-right float-right text-[13px] leading-6 menu-icon transition-all duration-300 ease-in-out")
          ul(class="submenu bg-[#222D3B] border-l-[3px] border-[#42A5F5] max-h-0 overflow-hidden transition-all duration-300 ease-in-out")
            if(role.permissions.includes("products-category_view"))
              li(class="")
                a(href=`/${prefixAdmin}/products-category` class="submenu-item block text-[14px] text-[#b7c0cd] font-[600] py-[7px] pr-[10px] pl-[40px] hover:text-[#42A5F5]" data-path=`/${prefixAdmin}/products-category`) 
                  i(class="fa-solid fa-angle-right text-[12px] pr-[5px]")
                  |Danh mục
            if(role.permissions.includes("products_view"))
              li(class="")
                a(href=`/${prefixAdmin}/products` class="submenu-item block text-[14px] text-[#b7c0cd] font-[600] py-[7px] pr-[10px] pl-[40px] hover:text-[#42A5F5]" data-path=`/${prefixAdmin}/products`) 
                  i(class="fa-solid fa-angle-right text-[12px] pr-[5px]")
                  |Sản phẩm
      if(role.permissions.includes("banners_view") && role.permissions.includes("banners-category_view"))
        li(class="mt-[5px]")
          span(class="menu-item block font-[600] py-[7px] pr-[10px] pl-[20px] hover:text-white text-[#b7c0cd] cursor-pointer relative")  
            i(class="fa-solid fa-image mr-[5px]")
            |Quản lý banner
            i(class="fa-solid fa-angle-right float-right text-[13px] leading-6 menu-icon transition-all duration-300 ease-in-out")
          ul(class="submenu bg-[#222D3B] border-l-[3px] border-[#42A5F5] max-h-0 overflow-hidden transition-all duration-300 ease-in-out")
            if(role.permissions.includes("banners-category_view"))
              li(class="")
                a(href=`/${prefixAdmin}/banner-category` class="submenu-item block text-[14px] text-[#b7c0cd] font-[600] py-[7px] pr-[10px] pl-[40px] hover:text-[#42A5F5]" data-path=`/${prefixAdmin}/banner-category`) 
                  i(class="fa-solid fa-angle-right text-[12px] pr-[5px]")
                  |Danh mục
            if(role.permissions.includes("banners-category_view"))
              li(class="")
                a(href=`/${prefixAdmin}/banners` class="submenu-item block text-[14px] text-[#b7c0cd] font-[600] py-[7px] pr-[10px] pl-[40px] hover:text-[#42A5F5]" data-path=`/${prefixAdmin}/banners`) 
                  i(class="fa-solid fa-angle-right text-[12px] pr-[5px]")
                  |Banner
      if(role.permissions.includes("roles_view"))
        li(class="mt-[5px] menu-item")
          a(href=`/${prefixAdmin}/roles` class="menu-item block font-[600] py-[7px] pr-[10px] pl-[20px] hover:text-white text-[#b7c0cd]" data-path=`/${prefixAdmin}/roles`) 
            i(class="fa-solid fa-user-group mr-[5px]")
            |Nhóm quyền
      if(role.permissions.includes("accounts_view"))
        li(class="mt-[5px] menu-item")
          a(href=`/${prefixAdmin}/accounts` class="menu-item block font-[600] py-[7px] pr-[10px] pl-[20px] hover:text-white text-[#b7c0cd]" data-path=`/${prefixAdmin}/accounts`) 
            i(class="fa-solid fa-user mr-[5px]")
            |Tài khoản
      